//background
@media (min-width: 768px) {
    .bg-md-gray-10 {
        background-color: $gray-10 !important;
    }
}
.gradient-custom {
    background-image: linear-gradient(104deg, #09ACF5,#62DB54);
}
.gradient-custom-y {
    background-image: linear-gradient(104deg, #09ACF5,#62DB54);
}