//圖片取代文字
@mixin hide-text {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }

//background漸層色
/* Horizontal gradient, from left to right */
@mixin gradient-x($start-color: $secondary, $end-color: $primary, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
//   104deg是指角度，依設計稿
}
.gradient-x{
  @include gradient-x;
}
.text-gradient-x{
  @include gradient-x;
  background-clip: text;
  color: transparent;
}

/* Vertical gradient, from top to bottom */
@mixin gradient-y($start-color: $secondary, $end-color: $primary, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
}
.gradient-y{
  @include gradient-y;
}

.text-gradient-y{
  @include gradient-y;
  background-clip: text;
  color: transparent;
}
//引入漸層色，文字需加background-clip、color

//首頁-bg樣式
@mixin bg-img {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 263px;
    span {
        color: $primary;
    }
    .filter {
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @media (min-width: 768px) {
            &:hover {
                background: rgba(0, 0, 0, 0);
              }
          }
    }
    @media (min-width: 768px) {
        width: 50%;
        height: 615px;
        span {
            color: $white;
        }
        p {
            opacity: .5;
        }
        &:hover {
            span {
                color: $primary;
            }
            p {
                opacity: .8;
            }
            .border-bottom-white::after {
                background: $primary;
              }
        }
    }
    @media (min-width: 992px) {
        width: 25%;
    }
}



