//文字大小
.fz-1 {
    font-size: 48px;
}
.fz-2 {
    font-size: 32px;
}
.fz-3 {
    font-size: 28px;
}
.fz-4 {
    font-size: 24px;
}
.fz-5 {
    font-size: 22px;
}
.fz-6 {
    font-size: 20px;
}
.fz-7{
    font-size: 18px;
}
.fz-8 {
    font-size: 16px;
}
.fz-9 {
    font-size: 14px;
}
.fz-10 {
    font-size: 12px;
}
@media (min-width: 768px) {
    .fz-md-1 {
        font-size: 48px;
    }
    .fz-md-2 {
        font-size: 32px;
    }
    .fz-md-3 {
        font-size: 28px;
    }
    .fz-md-4 {
        font-size: 24px;
    }
    .fz-md-5 {
        font-size: 22px;
    }
    .fz-md-6 {
        font-size: 20px;
    }
    .fz-md-7 {
        font-size: 18px;
    }
    .fz-md-8 {
        font-size: 16px;
    }
    .fz-md-9 {
        font-size: 14px;
    }
    .fz-md-10 {
        font-size: 12px;
    }
}
@media (min-width: 992px) { 
    .fz-lg-1 {
        font-size: 48px;
    }
    .fz-lg-2 {
        font-size: 32px;
    }
    .fz-lg-3 {
        font-size: 28px;
    }
    .fz-lg-4 {
        font-size: 24px;
    }
    .fz-lg-5 {
        font-size: 22px;
    }
    .fz-lg-6 {
        font-size: 20px;
    }
    .fz-lg-7 {
        font-size: 18px;
    }
    .fz-lg-8 {
        font-size: 16px;
    }
    .fz-lg-9 {
        font-size: 14px;
    }
    .fz-lg-10 {
        font-size: 12px;
    }
 }

 //字型
.font-azeretMono {
    font-family: "Azeret Mono";
}
.text-azeretMono {
    font-family: 'Azeret Mono', monospace;
}


@media (min-width: 992px) {
    .text-lg-start {
        text-align: right;
    }

}