.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home_mobile.jpg?raw=true);
    background-position: center center;
    background-size: cover;
    height: 336px;
    @include media-breakpoint-up(md) {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true);
        height: 680px;
    }
}

//邊框的小方塊
.box-white {
    width: 10px;
    height: 10px;
    background: $white;
}

//bg-img (對症下藥)
.bg-img-project {
    background: url(../images/info01.jpg);
    @include bg-img;
}
.bg-img-potential {
    background: url(../images/info02.jpg);
    @include bg-img;
}
.bg-img-efficiency {
    background: url(../images/info03.jpg);
    @include bg-img;
}
.bg-img-guide {
    background: url(../images/info04.jpg);
    @include bg-img;
}

.z-index-2 {
    z-index: 2;
}

//class頭像
.img-100 {
    max-width: 100px;
    height: auto;
    @media (min-width: 992px) {
        max-width: 100px;
        height: auto;
    }
}

//自訂義list
.custom-square-primary{
    li::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        background-color: $primary;
        margin-right: 8px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

